// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message_container {
  display: flex;
  align-items: center;
  .message_time {
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
    color: #999da0;
  }
  .read_message {
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
    margin-left: 5px;
    &.is_read {
      color: #999da0;
    }
    &.not_read {
      color: red;
    }
  }
}
